:root {
	--roxo: #6200ee;
}

/*alert	*/

.md-alert-out{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade-in 0.3s 1;
	z-index: 2;
}

.md-alert-out-off{
	animation: fade-out 0.3s 1;
}

.md-alert-in{
	background-color: white;
	padding: 10;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	max-width: 80%;
	animation: down 0.3s 1;
	font-family: "roboto",monospace;
}

.md-alert-in-off{
	animation: up 0.3s 1;
}


/*keyframes*/
@keyframes down{
	from{margin-bottom: 100px}
	to{margin-bottom: 0px}
}

@keyframes up{
	from{margin-bottom: 0px}
	to{margin-bottom: 100px}
}

@keyframes fade-in{
	from{opacity: 0}
	to{opacity: 1}
}

@keyframes fade-out{
	from{opacity: 1}
	to{opacity: 0;visibility: hidden;}
}

/*modal*/

.md-modal-out{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
}

.md-modal-in{
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	padding: 10;
	width: 600px;
	height: 300;
	max-width: 80%;
	display: grid;
	align-content: space-between;
	overflow-y: auto;
}

.md-modal-out-on, .md-modal-out-off{
	animation: fade-in 0.3s 1 forwards;
	opacity: 1;
	visibility: visible;
}

.md-modal-out-on > .md-modal-in{
	animation: down 0.3s 1;
}

.md-modal-out-off{
	animation: fade-out 0.3s 1 forwards;
}

.md-modal-out-off > .md-modal-in{ 
	animation: up 0.3s 1; 
}

/*button*/

.md-button, .md-button-outlined,.md-button-text{
	font-family: Roboto, sans-serif;	
	font-size: .875rem;
	line-height: 2.25rem;
	font-weight: 500;
	letter-spacing: .0892857143em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	min-width: 64px;
	outline: none;
	line-height: inherit;
	user-select: none;
	-webkit-appearance: none;
	overflow: visible;
	vertical-align: middle;
	border-radius: 4px;
	background-color: #6200ee;
	color: white;
	padding: 10;
	border: 1px solid transparent;
}

.md-button-outlined{
	color: var(--roxo);
	background-color: transparent;
	border: solid var(--roxo) 1px;
}

.md-button-text{
	color: var(--roxo);
	background-color: transparent;

}

/*riple*/

.md-rip{
	overflow: hidden;
	position: relative;
}

.md-rip::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
}

.md-ripple{
	position: absolute;
	top: 0;
	left: 0;
	width: 20;
	height: 20;
	background-color: white;
	animation: md-ripple-open 1s forwards;
	transform: translate(-50%,-50%);
	border-radius: 30%;
}

@keyframes md-ripple-open{
	from{
		width: 0;
		height: 0;
		opacity: 0.5
	}

	to{
		width: 50vw;
		height: 50vw;
		opacity: 0
	}
}

/*code*/

.codigo{
	padding: 10;
	display: block;
	background-color: #EFEFEF;
	font-family: monospace;
}

/*centrao*/
.centrao{
	display: flex;
	justify-content: center;
	align-items: center;
}